body {
  text-align: center;
  font-family: 'PT Sans', sans-serif;
  letter-spacing: 3px;
  width: 100vw;
  height: 100vh;
}


h1, h2, h3, h4, h5, h6 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 10% 0;
  line-height: 1.5;
}


.letter-t {
  color: #39a9cb;
  font-family: 'Texturina', serif;
  font-weight: bold;
}

.true {
  color: #39a9cb;
}

.love {
  color: #ff2e63;
}


/* title section */
#title {
  background-color: #222831;
}

.download-section {
  padding: 8%;
}

/* .container-fluid {
  padding: 3% 15%;
} */

.title-header {
  color: #ffffff;
  line-height: 1.5;
  padding: 10% 0;
  font-size: xxx-large;
  font-family: 'PT Serif Caption', serif;
  font-weight: bold;
}

.iphone {
  width: 40%;
  transform: rotate(37deg);
  position: relative;
  left: 7%;
  bottom: 3%;
}

.navbar {
  padding-bottom: 10%;
}

.navbar-brand {
  font-family: 'Texturina', serif;
  font-size: xx-large;
  font-weight: bold;
}

.nav-links {
  position: relative;
  left: 10%;
  font-family: 'Bebas Neue', cursive;
  font-size: large;
  font-weight: bold;
}

/* feature section */
#features {
  background-color: #e3fdfd;
  padding: 7% 0;
}

.feature-logos {
  width: 20%;
  padding: 3% 1%;
}

/* testimonial section */
#testimonials {
  padding: 4% 15%;
  background-color: #393e46;
  color: #ffffff;
}

.testimonial-image {
  width: 30%;
  border-radius: 50%;
  margin: 8%;
}

.testimonial-text {
  line-height: 1.5;
  height: fit-content;
}

.carousel-control-prev {
  padding: 10px 50px;
}

.carousel-control-next {
  padding: 10px 50px;
}

/* press section */
#press {
  background-color: #393e46;
  color: #ffffff;
  width: 100%;
  height: 400px;
  padding: 3%;
}

.press-carousel {
  padding: 60px 0;
}

/* price section */
#pricing {
  background-color: #eeeeee;
  padding: 3%;
  font-weight: bold;
}

.pricing-column {
  padding: 2%;
}

.card {
  background-color: #ff2e63;
  color: #ffffff;
}

.card-body-fix {
  padding: 0 0 29px 0;
  position: relative;
  top: 2px;
}

/* call to action section */
#cta {
  background-color: #222831;
  color: #ffffff;
  padding: 10% 22%;
}

/* footer section */
#footer {
  background-color: #e4efe7;
  padding: 3%;
  font-family: montserrat-black;
  font-size: 1.5rem;
}

.footer-icon {
  padding: 3%;
  color: #ff2e63;
}

.footer-tags {
  color: black;
  text-decoration: none;
}

address {
  position: relative;
}
